.timeLeftCardsMain-div{
    padding: 30px;
    padding-top: 0px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.timeLeftCardsMain-div h1{
    margin-top: 0;
    margin-bottom: 20px;
}

.timeLeftCards-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.timeCard-blocks{
    border: 2px solid var(--text-color);
    border-radius: 20px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeCard-blocks span{
    font-family: 'Poppins',sans-serif;
    font-size: larger;
    color: var(--text-color);
}

.timeCard-blocks CountUp{
    font-family: 'Poppins',sans-serif;
    margin:5px;
    font-size: xxx-large;
    color: var(--text-color);
}

.timeCard-blocks h1{
    font-family: 'Poppins',sans-serif;
    margin:5px;
    font-size: xxx-large;
    color: var(--text-color);
}