.mainUserInputField-div{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;

    background-color: var(--bg-color);
    color: var(--text-color);
}

.mainUserInputField-div h1{
    margin-bottom: 15px;
}

.inputFieldContent-div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    font-family: 'Poppins',sans-serif;
    font-size: large;
}

.inputFieldContent-div input {
    border-radius: 20px;
    padding: 10px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}
.inputFieldContent-div select {
    border-radius: 20px;
    padding: 10px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}


.nameGenderInputFields-div, .dobCountryInputFields-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.calculateButton-div button{
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 9px;
    font-family: 'Poppins',sans-serif;
}

.calculateButton-div{
    display: flex;
    gap: 10px;
}

.errorMessageText{
    color: red;
    font-family: 'Poppins',sans-serif;
}