.greetingContentMain-div{
    /* border: 2px solid yellow; */
}

.greetingText-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.greetingText-div h1{
    font-family: "Poppins", sans-serif;
    font-size: xxx-large;
}

.greetingText-div span{
    font-family: "Poppins", sans-serif;
    font-size: large;
}

.greetingText-div button{
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    color: black;
    background-color: white;
    /* border: none; */
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}