.greetingContentMain-div{
    /* border: 2px solid yellow; */
    color: var(--text-color);
    background-color: var(--bg-color);
}

.greetingText-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.greetingText-div h1{
    font-family: "Poppins", sans-serif;
    font-size: xxx-large;
}

.greetingText-div span{
    font-family: "Poppins", sans-serif;
    font-size: large;
    color: var(--text-color);
}

.greetingText-div button{
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    color: var(--text-color);
    background-color: var(--bg-color);
    /* border: none; */
    border: 2px solid var(--text-color);
    border-radius: 20px;
    padding: 10px;
}

.dummyfooter-div{
    height: 45vh;
    background-color: var(--bg-color);
}