.mainTopNavBar-div{
    background-color: var(--bg-color);
}

.logoDarkMode-div{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logoTitle-div svg{
    width: 50px;
    height: 50px;
    fill: var(--logo-color);
}

.logoTitle-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoTitle-div h1{
    font-family: "Silkscreen", sans-serif;
    font-size: large;
    color: var(--text-color);
}

.darkMode-div svg{
    cursor: pointer;
    width: 50px;
    height: 50px;
    fill: var(--logo-color) !important;
}